.popover-arrow {
  border-bottom-color: var(--theme-primary-5);
}

.popover {
  border-width: 2px;
  background-color: var(--theme-primary-2);
  border-color: var(--theme-primary-5);
  padding: 12px;
}
