div#toolbar,
div#toolbar,
div#toolbar {
  background-color: var(--theme-primary-0);
  color: var(--text-decent);
}

div#toolbar div.three-way-toggle {
  margin: 0;
  border-radius: 6px;

  &.active {
    background-color: var(--theme-primary-2);
  }

  &:hover {
    border-color: var(--theme-primary-8);
  }

  button.active {
    background-color: var(--theme-primary-4);
  }
}

div#toolbar button {
  background-color: var(--theme-primary-0);
  color: var(--text-decent);
  padding: 0 8px;
  display: flex;
  height: 24px;
  align-items: center;
  cursor: pointer;
  border: none;
  width: auto;

  &:hover,
  &:focus {
    background-color: var(--theme-primary-2);
    color: var(--text-highlight);
  }

  &:active {
    background-color: var(--theme-primary-4);
    color: var(--text-highlight);
  }

  &#toolbar-pomodoro {
    padding: 0 4px;
  }
}

.progress-ring circle {
  stroke: var(--theme-primary-8);
}

.progress-ring circle + circle {
  stroke: var(--theme-secondary-0);
}

#toolbar-document-info {
  text-wrap: nowrap;
  cursor: pointer;
  border-radius: 6px;
  font-size: 10px;
  padding: 0 8px;

  &:hover,
  &:focus {
    background-color: var(--theme-primary-2);
  }

  &:active {
    background-color: var(--theme-primary-4);
  }
}
